<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Signika|Roboto">
    <style>
      h1 {
        font-family: 'Signika', serif;
        font-size: 36px;
      }
      h1.cousin {
        font-size: 24px;
      }
      h2, h3, h4, h5 {
        font-family: 'Roboto', serif;
        font-size: 16px;
      }
      p {
        font-family: 'Roboto', serif;
        font-size: 16px;
      }
      li.seen {background-color: yellow;}

    #tagcloud {
        width: 95%;
        background:#CFE3FF;
        color:#0066FF;
        padding: 10px;
        border: 1px solid #559DFF;
        text-align:center;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-family: 'Roboto', serif;
    }

    #tagcloud a:link, #tagcloud a:visited {
        text-decoration:none;
        color: #333;
    }

    #tagcloud a:hover {
        text-decoration: underline;
    }

    #tagcloud span {
        padding: 4px;
    }

    #tagcloud .smallest {
        font-size: x-small;
    }

    #tagcloud .small {
        font-size: small;
    }

    #tagcloud .medium {
        font-size:medium;
    }

    #tagcloud .large {
        font-size:large;
    }

    #tagcloud .largest {
        font-size:larger;
        font-weight: 700;
    }
    </style>
    <title>Topical</title>
</head>
<body>
<strong>{{ recs|length }} Lead Stories</strong>&nbsp;
Now: {{ now }}&nbsp;
recent: {{ recent }}&nbsp;
retro: {{ retro }}&nbsp;
<div id="tagcloud">
{% for word, klass in words.iteritems() %}
    <span class="{{klass}}">{{word}}</span>
{% endfor %}
<hr>
{% for isect, klass in isects.iteritems() %}
    <span class="{{klass}}">{{isect|replace(" ","&nbsp;")}}</span>
{% endfor %}
</div>
<ul class="lead">
{% for rec in recs %}
    {% set article, cousins = rec %}
    <li{% if article.seen %} class="seen"{% endif %}>
    <h1>{{ article.title}}</h1>
    <h2>[{{ article.feed.title }}]</h2>
    <h3>{{ article.dt }}</h3>
    <h4>{{ article.keywords }}</h4>
    <h5><a href="{{ article.id }}" target="{{ article.hash }}">{{ article.id }}</a></h5>
    <p>{{ article.stripped }}</p>
    <p>{{ cousins|length }} Related Articles</p>
    {% if cousins %}
        <ul class="cousin">
        {% for score,isect,carticle in cousins %}
        <li{% if carticle.seen %} class="seen"{% endif %}>
            <h1 class="cousin">{{ carticle.title }}</h1>
            <h2>[{{ carticle.feed.title }}]</h2>
            <h3>{{ carticle.dt }} ({{ carticle.interval[article.hash] }})</h3>
            <h4>{{ score }} - {{ isect }}</h4>
            <h5><a href="{{ carticle.id }}" target="{{ carticle.hash }}">{{ carticle.id }}</a></h5>
            <p>{{ carticle.stripped }}</p>
        </li>
        {% endfor %}
        </ul>
    {% endif %}
    </li>
{% endfor %}
</ul>
</body>
</html>
