{% for rec in recs %}
    {% set article, cousins = rec %}

{{ article.title}} [{{ article.feed.title }}] {{ article.dt }}
        {{ article.keywords }}
    {{ article.stripped|wordwrap(79)|indent(4, True) }}
{% for score,isect,carticle in cousins %}
    {{ carticle.title }} [{{ carticle.feed.title }}] {{ carticle.dt }}
        {{ score }} - {{ isect }}
        {{ carticle.stripped|wordwrap(79)|indent(8, True) }}
{% endfor %}
{% endfor %}
